<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Call:</strong>
  <%= @item.call %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @item.photo %>
</p>

<p>
  <strong>Whatday:</strong>
  <%= @item.whatday %>
</p>

<p>
  <strong>Date:</strong>
  <%= @item.date %>
</p>

<p>
  <strong>Favolite:</strong>
  <%= @item.favolite %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
